*{
  margin: 0;
}
.app{
  background-color: #fafafa;
  height: 100%;
}
.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;

}
.app_postsRight{
  margin-left: 20px;
}

.app_header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 15px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app_header_image{
  height: 40px;
  object-fit: contain;
}
.app_sign{
  display: flex;
  flex-direction: column;
}
.display_Login{
  text-align: center;
}